@import "@silevis/reactgrid/styles.css";
@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
	font-family: "Roboto";
	src: url(../fonts/roboto/Roboto-Regular.ttf) format("ttf");
}
@font-face {
	font-family: "Audiowide";
	src: url(../fonts/Audiowide-Regular.woff2) format("woff");
}

/* :root {
	font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
	font-size: 16px;
	line-height: 24px;
	font-weight: 400;

	color-scheme: light dark;
	color: rgba(255, 255, 255, 0.87);
	background-color: #242424;

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-text-size-adjust: 100%;
} */

#root {
	width: 100%;
	font-family: "Roboto";
}

body {
	width: 100%;
	height: 100%;
}

html {
	width: 100%;
	height: 100%;
	background-color: rgb(249 250 251 / 1);
}

.header {
	box-shadow: none !important;
	background-color: rgb(249 250 251) !important;
}

.headerBtn {
	margin-bottom: 6px !important;
}

.headerBtn:hover {
	background-color: inherit !important;
}

.e3-heading {
	margin-right: 200px !important;
}

.refresh-btn {
	padding: 0 !important;
	width: fit-content !important;
	background-color: rgb(249 250 251/1) !important;
	box-shadow: none !important;
}
.refresh-btn:hover {
	text-decoration: none !important;
	background-color: rgb(249 250 251) !important;
}

.results-table-header,
.results-table-cell {
	font-weight: 800 !important;
}
.reset-btn {
	padding-left: 0 !important;
	padding-right: 0 !important;
	min-width: 48px !important;
}

.reset-btn > span {
	margin-right: 0;
}

.pdf-download-btn {
	padding: 0 !important;
}
