#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  /*text-align: center; *TODO* deleted in order to customize content alignment*/ 
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  display: grid;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

.background {
  height: 340px;
  width: 789px;
  margin-left: 600px;
  margin-top: -19px;
  will-change: filter;
  background-color: #FFDEAC;
  display: grid;
  font-family: 'Source Sans Pro';
  font-style: italic;
  font-weight: 400;
  font-size: 28px;
  line-height: 35px;
  
}


.line1Section1{
  width: 1517px;
  margin-left: -122px;
  margin-top: 5px;
}

.line2Section1{
  width: 1517px;
  margin-left: -122px;
  margin-bottom: -46px;
  margin-top: 15px;
}

.line1Section2{
  width: 1517px;
  margin-left: -122px;
  margin-top: 5px;
}

.line2Section2{
  width: 1517px;
  margin-left: -122px;
  margin-bottom: -46px;
  margin-top: 15px;
}

.line1Section3{
  width: 1517px;
  margin-left: -122px;
  margin-top: 8px;
}

.line2Section3{
  width: 1517px;
  margin-left: -122px;
  margin-bottom: -46px;
  margin-top: 15px;
}

.rectangle {
  width: 1085px;
  height: 742px;
  background: rgba(255, 153, 0, 0.5);
  margin-left: 312px;
  margin-top: -481px;
}
.rectangleText {
  margin-left: 47px;
  margin-top: -460px;
  line-height: 47px;
  padding-top: 65px;
  font-size: 34px;
  justify-content: left;
  font-weight: 500;
  font-family: 'Source Sans Pro';
}

.rectangleText2 {
  margin-left: 47px;
  margin-top: 43px;
  line-height: 51px;
  font-size: 34px;
  display: flex;
  flex-direction: column;
  justify-content: left;
  font-weight: 500;
  font-family: 'Source Sans Pro';
}


.rectangle2 {
  display: block;
  width: 432px;
  height: 713px;
  background: rgba(255, 153, 0, 0.5);
  margin-top: 51px;
  margin-left: -122px;
  line-height: 95px;
  /*text-align: center;*/
}

.rectangle3 {
  display: block;
  width: 432px;
  height: 811px;
  background: rgba(255, 153, 0, 0.5);
  margin-top: 51px;
  margin-left: -122px;
  line-height: 95px;
  /* text-align: center;
  /*text-align: center;*/
}

.rectangle4{
  display: block;
  width: 432px;
  height: 713px;
  background: rgba(255, 153, 0, 0.5);
  margin-top: 51px;
  margin-left: -122px;
  line-height: 95px;
  /*text-align: center;*/
}
.input1{
  width: 510px;
  margin-left: -1px;
  height: 30px;
  margin-top: 3px;
}
.textLabel1{
  width: 510px;
  margin-left: 51px;
  height: 24px;
  margin-top: 63px;
  font-size: 23px;
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 400;
}

.textLabel2{
  width: 510px;
  margin-left: -509.5px;
  height: 24px;
  margin-top: 151px;
  font-size: 23px;
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 400;
}

.input2{
  width: 510px;
  margin-left: -510.5px;
  height: 152px;
  margin-top: 183px;
}

.input3{
  width: 515px;
  margin-left: -1px;
  height: 30px;
  margin-top: 3px;
}
.textLabel3{
  width: 510px;
  margin-left: -518px;
  height: 24px;
  margin-top: 378px;
  font-size: 23px;
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 400;
}

.input4{
  width: 518px;
  margin-left: -1px;
  height: 30px;
  margin-top: 3px;
}


.input5{
  width: 127px;
  margin-left: -296px;
  height: 20px;
  margin-top: 632px;
}

.input6{
  width: 127px;
  margin-left: -296px;
  height: 20px;
  margin-top: 693px;
}

.input7{
  width: 127px;
  margin-left: -296px;
  height: 20px;
  margin-top: 725px;
}

.textLabel4{
  width: 524px;
  margin-left: -510px;
  height: 24px;
  margin-top: 488px;
  font-size: 23px;
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 400;
}

.textLabel5{
  width: 524px;
  margin-left: -526px;
  height: 24px;
  margin-top: 567px;
  font-size: 23px;
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 400;
}

.textLabel6{
  width: 524px;
  margin-left: -432px;
  height: 24px;
  margin-top: 634px;
  font-size: 23px;
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 400;
}

.textLabel7{
  width: 524px;
  margin-left: -3px;
  height: 24px;
  margin-top: 696px;
  font-size: 23px;
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 400;
}

.radioButton1{
  margin-top: 468px;
  margin-left: -432px;
  font-size: 23px;
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 400;
  width: 26px;
}

.radioButton2{
  margin-top: 593px;
  margin-left: -590px;
  font-size: 23px;
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 400;
  width: 26px;

}

.radioButtonLabel1{
  margin-top: 601px;
  margin-left: -484px;
  font-size: 23px;
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 400;
}

.radioButtonLabel2{
  margin-top: 667px;
  margin-left: 12px;
  font-size: 23px;
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 400;

}

.rowSet{
  display:flex;
  flex-direction: row;
}


.boldLine{
  border: 100px;
}
.section1titleText{
  width: 434px;
  font-family: 'Source Sans Pro';
  font-weight: 700;
  font-size: 60px;
  display: flex;
  text-align: center;
  flex-direction: column;
  margin-left: -125px;
  font-style: italic;
  padding-top: 56px;
}

.section1titleText2{
  flex-direction: column;
  width: 407px;
  font-family: 'Source Sans Pro';
  line-height: normal;
  margin-top: 10px;
  font-size: 42px;
  letter-spacing: 0;
  display: flex;
  text-align: center;
  margin-left: -115px;
  padding-top: 32px;
}

.section1titleText3{
  flex-direction: column;
  width: 407px;
  font-family: 'Source Sans Pro';
  line-height: normal;
  margin-top: 10px;
  font-size: 36px;
  letter-spacing: 0;
  display: flex;
  text-align: center;
  margin-left: -115px;
  padding-top: 32px;
  font-style: italic;
}



.section2titleText{
  margin-top: -21px;
  flex-direction: column;
  width: 422px;
  height: 652px;
  font-family: 'Source Sans Pro';
  line-height: normal;
  padding-top: 179px;
  letter-spacing: 0;
  display: flex;
  font-size: 41px;
  text-align: center;
}



.section2SubtitleText{
  flex-direction: column;
  width: 434px;
  height: 655px;
  font-family: 'Source Sans Pro';
  line-height: 43px;
  font-weight: 550;
  padding-top: 20px;
  letter-spacing: 0;
  font-size: 33px;
  display: flex;
  text-align: center;
}

.calculatorImage{
  height:450px;
  margin-top: 171px;
  margin-left: 115px;
}

.tableDesign{
  margin-top: -807px;
  margin-left: 356px;
  width: 612px;
  height: 807px;
}
.tableDesign2{
  margin-top: -631px;
  margin-left: 359px;
  width: 416px;
  height: 247px;
}

.largeButton{
  margin-top: 53px;
  margin-right: -10px;
  background-color: #1075EC;
  color: white;
  box-shadow: 1px 2px 2px 2px grey;
}

.smallButton{
  margin-bottom: 86px;
  margin-left: 3px;
  margin-right: -1px;
  background-color: #1075EC;
  color: white;
  box-shadow: 1px 2px 2px 2px grey;
}




.section3titleText{
  /*width: 482px;
  height: 780px;
  font-family: 'Source Sans 3';
  font-style: italic;*/
  margin-top: 3px;
  text-align: center;
  flex-direction: column;
  width: 422px;
  height: 652px;
  font-family: 'Source Sans Pro';
  line-height: normal;
  letter-spacing: 0;
  display: flex;
  font-size: 41px;
  padding-top: 190px;
}

.section4titleText{
  /*width: 482px;
  height: 780px;
  font-family: 'Source Sans 3';
  font-style: italic;*/
  margin-top: 20px;
  text-align: center;
  flex-direction: column;
  width: 422px;
  height: 652px;
  font-family: 'Source Sans Pro';
  line-height: normal;
  letter-spacing: 0;
  display: flex;
  font-size: 41px;
  padding-top: 66px;
  margin-left: 1px;
}

.section4subtitleText{
  /*width: 482px;
  height: 780px;
  font-family: 'Source Sans 3';
  font-style: italic;*/
  margin-top: 82px;
  text-align: center;
  flex-direction: column;
  width: 422px;
  height: 652px;
  font-family: 'Source Sans Pro';
  line-height: normal;
  letter-spacing: 0;
  display: flex;
  font-size: 41px;
  padding-top: 66px;
  margin-left: 1px;
}

.infoButton1{
  width:13px;

}


.infoButton2{
  width:13px;

}
.footerText{
  font-family: 'Source Sans Pro';
  margin-top: 408px;
  margin-left: -127px;
  font-size: 10px;
  font-weight: 700;
  text-align: center;
}


@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
